<div class="container">
    <h1 class="header-logo">
        <a href="{{path('main_home')  }}" title="Go back to homepage">
            <img src="{{ asset('img/logo.svg') }}" alt="Bucket-list logo">Bucket-list
        </a>
    </h1>
    <nav class="header-nav">
{#        <ul>#}
            <a href="{{ path('main_home') }}" title="Go back to homepage">Home</a>
            <a href="{{ path('main_about_us') }}" title="About us">About us</a>
            <a href="{{ path('wish_create') }}" title="Add a wish">Add a wish</a>
            <a href="{{ path('wish_list') }}" title="All wishes">All wishes</a>
{#            <li><a href="#" title="Home">Home</a></li>#}
{#            <li><a href="#" title="Test">Test</a></li>#}
{#        </ul>#}
    </nav>
</div>
