<div class="container">
    <div class="header-top">
        <h1 class="header-logo">
            <a href="{{path('main_home')  }}" title="Go back to homepage">
                <img src="{{ asset('img/logo.svg') }}" alt="Bucket-list logo">Bucket-list
            </a>
        </h1>
        <nav class="user-nav">
            {% if app.user %}
                <a href="{{ path('app_logout') }}" title="Logout">Logout ({{ app.user.userIdentifier }})</a>
            {% else %}
                <a href="{{ path('app_register') }}" title="Register">Register</a>
                <a href="{{ path('app_login') }}" title="Login">login</a>
            {% endif %}
        </nav>
    </div>

    <nav class="header-nav">
        <a href="{{ path('main_home') }}" title="Go back to homepage">Home</a>
        <a href="{{ path('wish_list') }}" title="All wishes">All wishes</a>
        {% if app.user %}
            <a href="{{ path('wish_create') }}" title="Add a wish">Add a wish</a>
        {% else %}
            <a href="{{ path('main_about_us') }}" title="About us">About us</a>
        {% endif %}
    </nav>


</div>
